<ion-header>
  <div class="judul">
      <ion-toolbar>
            <ion-item (click)="home()">
              <ion-icon name="menu"></ion-icon>
              <ion-label>
                  <p>SOAL KARAKTER SISWA</p>
              </ion-label>
          </ion-item>
      </ion-toolbar>
  </div>
</ion-header>
<ion-content>

  <div class="list">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Bagikan dengan siswa </ion-label>
        <ion-input type="text" [(ngModel)]="data.id"></ion-input>
        <ion-label position="floating">Judul </ion-label>
        <ion-textarea type="text" [(ngModel)]="data.soal"></ion-textarea>
        <ion-label position="floating">Link </ion-label>
        <ion-textarea type="text" [(ngModel)]="data.linksoal"></ion-textarea>
      </ion-item>
      <div class="button1">
        <ion-button size="medium" (click)="addsoal()">Buat</ion-button>
    </div>
  </ion-list>    

<!-- List tampil soal -->
      <ion-card color="darks">
        <ion-list class="ion-padding">
          <ion-item *ngFor="let n of soal">
            <ion-label>
            <p>  {{ n.soal }} <br>
                {{ n.linksoal }} </p>
            </ion-label>
          
              <ion-button size="medium" color="danger" (click)="hapus(n.id)">Hapus</ion-button>

        </ion-item>
      </ion-list>
      </ion-card>
  </div>
</ion-content>