<ion-header>
  <ion-navbar color="primary">
    <ion-avatar>
      <img src="assets/icon/user.png">
    </ion-avatar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating [(ngModel)]="profile.firstName" ngDefaultControl>First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating [(ngModel)]="profile.lastName" ngDefaultControl>Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating [(ngModel)]="profile.eventName" ngDefaultControl>Event Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating [(ngModel)]="profile.hall" ngDefaultControl>Hall #</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating [(ngModel)]="profile.booth" ngDefaultControl>Booth #</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button size ="small" color="tertiary" (click)="edit()">Edit</ion-button>
</ion-content>