.judul{
    --ion-background-color:#7F766E;
    font-size: 16px;
    text-align: center;
    color:#fff;
    position: absolute;
    left: 0;
    right: 0;
  }
.judul p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color:#fff;
}
.root{
    --ion-background-color:#7F766E;
  }
