<ion-header>
    <ion-toolbar>
        <ion-title>tambah</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="secondary" (click)="simpanjdw()" [disabled]="loading"> {{loading? 'Menyimpan..':'Simpan'}}</ion-button>

    <ion-list>
        <ion-item>
            <ion-label>Hari</ion-label>
            <ion-input [(ngModel)]="data.hari"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Jamke</ion-label>
            <ion-input [(ngModel)]="data.jamke"></ion-input>
        </ion-item>
    </ion-list>




</ion-content>