<ion-content>
    <ion-content [fullscreen]="true" color="medium">
        <ion-grid class="satu">

            <div class="tengah">
                <img src="assets/profilwalikelas.png" width="30%">
                <p class="p2">Siti Sindi S.pd<br>NIP 1827172616</p>
                <ion-button color="light">
                    <a routerLink='/profil'>Edit profil</a></ion-button>
            </div>

        </ion-grid>
        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/rekap.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>REKAP DATA DAN PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>
        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/jadwal.png">
            </ion-avatar>
            <ion-text color="dark">
                <p routerLink="/lihatjadwal">JADWAL PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>


    </ion-content>