<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="edit-profil"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvIgzJzddMSk0ZJuW5D7rAUpLkXgDf5vPRw&usqp=CAU">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>
        <h2>Nama Lengkap</h2>
        <ion-input>Ratna Ningrum</ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>NIP</h2>
        <ion-input>12345678</ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Alamat</h2>
        <ion-input>Yogyakarta</ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>No. Telepon</h2>
        <ion-input>089765456324</ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Email</h2>
        <ion-input>ratna@gmail.com</ion-input>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button size="medium" color="dark"><font size="2">Simpan</font></ion-button>
</ion-content>
