<ion-content>
    <ion-content [fullscreen]="true" color="medium">
        <ion-grid class="satu">

            <div class="tengah">
                <img src="assets/profil.png" width="30%">
                <p class="p2">Susi Susanti<br>NIS 9002</p>
                <ion-button color="light">
                    <a routerLink='/profil'>Edit profil</a></ion-button>
            </div>

        </ion-grid>
        <ion-item color="medium" (click)="jadwalsiswa()">
            <ion-avatar slot="start">
                <img src="assets/jadwal.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>JADWAL PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>

        <ion-item color="medium" (click)="rekapdata()">
            <ion-avatar slot="start">
                <img src="assets/rekap.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>REKAP DATA DAN PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>

        <ion-item color="medium" (click)="lihatsoal()">
            <ion-avatar slot="start">
                <img src="assets/soal.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>SOAL KARAKTER SISWA</p>
            </ion-text>
        </ion-item>
    </ion-content>