<!-- <ion-app>
    <ion-content fullscreen class="root">
        <div class="profil">
            <ion-item>
                <ion-avatar class="ion-margin-start;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvIgzJzddMSk0ZJuW5D7rAUpLkXgDf5vPRw&usqp=CAU">
                </ion-avatar>
                <ion-label class="ion-padding">
                    <p>Ratna Ningrum S.Pd.<br> NIP : 56241326142111</p>
                    <ion-button size="small" color="medium" (click)="profil()">Lihat Profil</ion-button>
                </ion-label>
            </ion-item>
        </div>
        <div class="container">
            <ion-list>
                <ion-item (click)="berisoal()">
                    <ion-avatar slot="start">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpLLpyQxtTWkuBFnYt-V9htXDBe9XRion8qQ&usqp=CAU">
                    </ion-avatar>
                    <ion-label>Soal karakter siswa</ion-label>
                </ion-item>
                <ion-item (click)="jadwalmapel()">
                    <ion-avatar slot="start">
                        <img src="assets/icon/schedule.png">
                    </ion-avatar>
                    <ion-label>Jadwal penilaian siswa</ion-label>
                </ion-item>
                <ion-item (click)="rekapdatamapel()">
                    <ion-avatar slot="start">
                        <img src="assets/icon/result.png">
                    </ion-avatar>
                    <ion-label>Rekap data penilaian siswa</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-app> -->

<ion-content>
    <ion-content [fullscreen]="true" color="medium">
        <ion-grid class="satu">

            <div class="tengah">
                <img src="assets/teacher.png" width="30%">
                <p>Ratna Ningrum S.Pd.<br> NIP : 56241326142111</p>
                <ion-button color="light" (click)="profil()">
                    <a>Edit profil</a></ion-button>
            </div>

        </ion-grid>
        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/soal.png">
            </ion-avatar>
            <ion-text color="dark" (click)="soal()">
                <p>SOAL KARAKTER SISWA</p>
            </ion-text>
        </ion-item>

        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/jadwal.png">
            </ion-avatar>
            <ion-text color="dark" (click)="jadwalmapel()">
                <p>JADWAL PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>

        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/rekap.png">
            </ion-avatar>
            <ion-text color="dark" (click)="input()">
                <p>REKAP DATA PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>
    </ion-content>