.root {
    --ion-background-color: #DFD3D3;
}

.profil {
    --ion-background-color: #4A3737;
    font-size: 16px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
}

.profil p {
    color: #fff;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.satu {
    background-color: #777179;
}

.tengah {
    border-radius: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 29%;
    margin-right: 30%;
    display: block;
    width: 300px
}

.btn {
    margin-left: 15%;
    margin-right: 5%;
    padding: 2px 2px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
}

p {
    font-size: 15px;
}