<ion-app>
    <ion-content fullscreen class="root">
        <div>
            <ion-toolbar><br>
                <ion-item routerLink="/homesiswa">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    <ion-label>
                        <p>REKAP DATA PENILAIAN KARAKTER SISWA</p>
                    </ion-label>
                </ion-item>
            </ion-toolbar>
            <ion-item><br><br><br><br>
                <ion-label>
                    <h4>Pilih Semester</h4>
                </ion-label>
                <ion-select class="custom-options" interface="popover">
                    <ion-select-option value="ganjil0" class="brown-option">Ganjil 2018/2019</ion-select-option>
                    <ion-select-option value="genap1">Genap 2018/2019</ion-select-option>
                    <ion-select-option value="ganjil2">Ganjil 2020/2021</ion-select-option>
                    <ion-select-option value="genap2">Genap 2020/2021</ion-select-option>
                    <ion-select-option value="ganjil2">Ganjil 2021/2022</ion-select-option>
                </ion-select>

            </ion-item>
            <ion-item>
                <ion-button>Lihat Hasil</ion-button>
            </ion-item>

        </div>



    </ion-content>
</ion-app>