.root {
    --ion-background-color: #AEAEAE;
}

.judul {
    --ion-background-color: #7D7480;
    font-size: 16px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
}

.judul p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-custom-interface .brown-option {
    --color: #5e3e2c;
    --color-hover: #362419;
    font-size: 12px;
}

.button {
    text-align: right;
    position: absolute;
    left: 70px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.button p {
    color: black;
}