<ion-app>
    <ion-header>
        <div class="judul">
            <ion-toolbar>
                <ion-item (click)="home()">
                    <ion-icon name="menu"></ion-icon>
                    <ion-label>
                        <p>PENANGANAN SISWA</p>
                    </ion-label>
                </ion-item>
            </ion-toolbar>
        </div>
    </ion-header>
    <ion-content fullscreen class="root">
        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button (click)="formpenanganan()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <!-- List of Text Items -->
        <div class="list" style="padding-top: 50px;">
            <ion-list>
                <ion-item style="--background:#E1D3C9;--color: #7E4B25;">
                    <ion-label><b>Daftar siswa bermasalah</b></ion-label>
                </ion-item>
                <ion-item *ngFor="let n of dataform">
                    <ion-label>{{ n.nim}} {{ n.nama}}</ion-label>
                    <ion-button size ="small" color="tertiary" (click)="edit(n.id)" style="margin-right: 25px;">edit</ion-button>
                    <ion-button size ="small" color="danger" (click)="hapus(n.id)" style="margin-right: 25px;">hapus</ion-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-app>