<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvIgzJzddMSk0ZJuW5D7rAUpLkXgDf5vPRw&usqp=CAU">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>
        <h2>Nama Lengkap</h2>
        <h3>Ratna Ningrum</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>NIP</h2>
        <h3>12345678</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Alamat</h2>
        <h3>Yogyakarta</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>No. Telepon</h2>
        <h3>089765456324</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Email</h2>
        <h3>ratna@gmail.com</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button size="medium" color="dark" routerLink="/edit-edit-profil"><font size="2">Edit</font></ion-button>
</ion-content>
