.judul{
    --ion-background-color: #5B3E28;
}

.judul p{
    font-size: 16px;
    text-align: center;
    color:white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10pt;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}