<ion-header>
    <ion-toolbar>
        <ion-title>detailrekap</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="root">
    <ion-list class="ion-padding">
        <ion-grid *ngFor="let student2 of rekap; index as i">
            <ion-label position="fixed">NIS</ion-label>
            <ion-input>{{student2.nis }}</ion-input><br>
            <ion-label position="fixed">NAMA</ion-label>
            <ion-input>{{student2.nama }}</ion-input><br>
            <ion-label position="fixed">TUGAS</ion-label>
            <ion-input>{{student2.n_tugas }}</ion-input><br>
            <ion-label position="fixed">SIKAP</ion-label>
            <ion-input>{{student2.n_sikap }}</ion-input><br>
            <ion-label position="fixed">KETERAMPILAN</ion-label>
            <ion-input>{{student2.n_keterampilan }}</ion-input><br>
            <ion-label position="fixed">KETERANGAN</ion-label>
            <ion-input>{{student2.ket }}</ion-input>
            <ion-col>
            </ion-col>
        </ion-grid>
    </ion-list>


</ion-content>