<ion-header>
    <ion-toolbar>
        <ion-item (click)="home()">
            <ion-icon name="menu"></ion-icon>
            <ion-label>
                <p>JADWAL PENILAIAN SISWA</p>
            </ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>
                <table>
                    <thead>
                        <tr>
                            <th>Hari</th>
                            <th>Kelas</th>
                            <th>Jam</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Senin</td>
                            <td>7 A</td>
                            <td>1,2</td>
                        </tr>
                        <tr>
                            <td>Selasa</td>
                            <td>7 B</td>
                            <td>7,8</td>
                        </tr>
                        <tr>
                            <td>Rabu</td>
                            <td>8 A</td>
                            <td>8,9</td>
                        </tr>
                        <tr>
                            <td>Kamis</td>
                            <td>8 E</td>
                            <td>9,10</td>
                        </tr>
                        <tr>
                            <td>Jumat</td>
                            <td>9 A</td>
                            <td>4,5</td>
                        </tr>
                        <tr>
                            <td>Sabtu</td>
                            <td>7 C</td>
                            <td>6,7</td>
                        </tr>
                    </tbody>
                </table>
            </ion-col>
        </ion-row>

        <ion-row class="row2">

            <ion-col>
                <p>Keterangan:</p>
                <table>
                    <thead>
                        <tr>
                            <td class="th2">
                                <p>1. 07.00-07.50</p>
                                <p>2. 07.50-08.40</p>
                                <p>3. 08.45-09.35</p>
                                <p>4. 09.35-10.25</p>
                                <p>5. 10.30-11.20</p>
                                <p>6. 11.20-12.10</p>
                                <p>7. 12.30-13.20</p>
                                <p>8. 13.20-14.10</p>
                                <p>9. 14.15-15.05</p>
                                <p>10. 15.15-16.05</p>
                            </td>

                        </tr>
                    </thead>

                </table>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>