.grid1 {
    height: 60%;
    padding: 0px;
}

.contaier-login {
    width: 95%;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.row1 {
    background: #8492A6;
}

.bg {
    background-color: #8492A6;
}

ion-icon {
    margin-right: 5px;
}

ion-button {
    margin-top: 3px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}

.teks {
    font-size: 15px;
    font: tahoma;
}

.teks1 {
    font-size: 15px;
    font: tahoma;
    color: rgb(43, 43, 206);
}