<ion-content>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="/assets/LOGO2.jpg" width="30%" /><br />

                    </ion-col>
                </ion-row>
                <ion-col>
                    <ion-label class="teks1">
                        <h4>Pilih masuk sebagai</h4>
                    </ion-label>
                </ion-col>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/lk">Kepala Sekolah</ion-button>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/lb">BK</ion-button>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/lw">Wali Kelas</ion-button>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/lm">Guru Mapel</ion-button>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/login">Orang Tua</ion-button>
                        <ion-button type="submit" fill="solid" expand="full" routerLink="/ls">Siswa</ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </ion-slide>
</ion-content>