.root{
    --ion-background-color: #DFD3D3;
    --padding-top:60px;
  }
.judul{
    --ion-background-color:#5B3E28;
    font-size: 16px;
    text-align: center;
    color:#fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
  }
.judul p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color:#fff;
}
.my-custom-interface .brown-option {
  --color: #5e3e2c;
  --color-hover: #362419;
  font-size: 10px;
}