<ion-app>
  <ion-header>
    <div class="judul">
    <ion-toolbar>
    <ion-item (click)="simpan()" [disabled]="loading">
    <ion-label><p>FORM PENANGANAN SISWA</p></ion-label>
    <ion-icon name="save">{{ loading ? 'Menyimpan..': 'Simpan'}}</ion-icon>
    </ion-item></ion-toolbar>
    </div>
    </ion-header>
      
<ion-content fullscreen class="root">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" [(ngModel)]="dataform.nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nim</ion-label>
        <ion-input type="number" [(ngModel)]="dataform.nim"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kelas</ion-label>
        <ion-input type="text" [(ngModel)]="dataform.kelas"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Keterangan</ion-label>
        <ion-textarea [(ngModel)]="dataform.keterangan"></ion-textarea>
      </ion-item>
      <ion-item>     
      <ion-label><h6>Kategori Penanganan</h6></ion-label>
      <ion-select class="custom-options" interface="popover" [(ngModel)]="dataform.kategori">
        <ion-select-option value="panjang" class="brown-option">Jangka Panjang</ion-select-option>
        <ion-select-option value="pendek">Jangka Pendek</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pemberitahuan</ion-label>
      <ion-textarea [(ngModel)]="dataform.pemberitahuan"></ion-textarea>
    </ion-item>
    </ion-list> 

<div class="button">
    <ion-button size ="small" color="success" (click)="simpankirim()">Simpan & Kirim</ion-button>
</div>
</ion-content>
</ion-app>   