<ion-content>

  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <img src="/assets/LOGO.jpg" width="30%" /><br /><br />
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                          <ion-item class="teks">
                              <ion-icon name="mail-outline"></ion-icon>
                              <ion-input type="text" required placeholder=" Email" [(ngModel)]="user.email"></ion-input>

                          </ion-item>
                          <br />
                          <ion-item class="teks">
                              <ion-icon name="key-outline"></ion-icon>
                              <ion-input type="password" required placeholder=" Password" [(ngModel)]="user.password"></ion-input>

                          </ion-item>
                          <div class="ion-margin-top ion-text-right forget">
                              <a routerLink='/lupa-password' class="teks">forgot password?</a>
                          </div>


                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="login()" [disabled]="loading">{{ loading ? 'Tunggu..':'LOGIN'}}</ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label class="teks">
                          <h4>Dont have an account? <a routerLink='/register' class="teks">REGISTER</a></h4>
                      </ion-label>
                  </ion-col>
              </ion-row>

          </ion-grid>
      </div>
  </ion-slide>
</ion-content>