<ion-header>
    <div class="judul">
    <ion-toolbar>
      <ion-item (click)="rekapdata()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label><p>HASIL KETERCAPAIAN SISWA</p></ion-label>
      </ion-item>
    </ion-toolbar>
    </div>
</ion-header>

<ion-content fullscreen class="root">
  <ion-grid class="grid1" style="padding-top: 50px;" *ngFor="let student of students">
    <ion-item>
        <ion-label position="fixed">
            <h4>Nilai</h4>
        </ion-label>
        <ion-input style=" font-size: 14px">{{ student.pencatatan }}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">
            <h4>Keterangan</h4>
        </ion-label>
        <ion-input style=" font-size: 14px">{{ student.keterangan }}</ion-input>
   </ion-item>

    <ion-row class="row1" style="padding-top: 70px;">
        <ion-col>
            <p style="font-size: 10pt;">Keterangan:</p>
            <table>
                <thead>
                    <tr>
                        <th>Karakter<br>baik</th>
                        <th>Karakter<br>bermasalah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            A<br>
                            A-<br>
                            B+<br>
                            B<br>
                            B-<br>
                            C+<br>
                            C<br></td>
                        <td>
                            C-<br>
                            D+<br>
                            D<br>
                            D-<br>
                            E<br></td>
                    </tr>
                </tbody>
            </table>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
