<ion-app>
  <ion-content class="ion-margin">
    <div class="judul">
      <ion-toolbar>
    <ion-item (click)="rekapdata()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label><p>DETAIL PENILAIAN SISWA</p></ion-label>
    </ion-item></ion-toolbar>
</div>
<div class="container">
<ion-list class="ion-padding">
  <div class="profil">
    <ion-item>
    <ion-avatar class="ion-margin-start;">
      <img src="assets/icon/user.png">
    </ion-avatar>
    <ion-label class="ion-padding">
      <p>Nama : Putri Salsabila<br>
         NIS :  1010<br>
         Kelas : 7D<br>
         Email : putri1010@webmail.smp.ac.id</p>
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
  <ion-grid class="ion-margin">
    <ion-row class="row1">
      <ion-col>
          <table>
            <thead>
              <tr>
                  <th colspan="5"><p style="text-align: center; color:#A45324;">Kategori Nilai Semester Genap 2020/2021</p></th>
              </tr>
                  <tr>
                      <th>Mata Pelajaran</th>
                      <th>Tugas</th>
                      <th>Sikap</th>
                      <th>Keterampilan</th>
                      <th>Lp hasil belajar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let student of students; index as i">
                      <td>{{student.mapel}}</td>
                      <td>{{student.nilaitugas}}</td>
                      <td>{{student.nilaisikap}}</td>
                      <td>{{student.nilaiketerampilan}}</td>
                      <td>{{student.lp}}</td>
                  </tr>
              </tbody>
          </table>
      </ion-col>
  </ion-row>
  </ion-grid>
  </div>
</ion-content>
</ion-app>