
.root{
  --ion-background-color: #E8DFDF;
}
.profil{
  --ion-background-color: #7D7480;
  font-size: 16px;
  text-align: center;
  color:#fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
}

.profil p{
  color:#fff;
}
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}