<ion-app>
    <ion-content fullscreen class="root">
        <div class="profil">
            <ion-item>
                <ion-avatar class="ion-margin-start;">
                    <img src="assets/icon/user.png">
                </ion-avatar>
                <ion-label class="ion-padding">
                    <p>Ratna Ningrum S.Pd.<br> NIP : 56241326142111</p>
                    <ion-button size="small" color="medium" (click)="profil()">Lihat Profil</ion-button>
                </ion-label>
            </ion-item>
        </div>
        <div class="container">
            <ion-list>
                <ion-item (click)="rekapdata()">
                    <ion-avatar slot="start">
                        <img src="assets/icon/result.png">
                    </ion-avatar>
                    <ion-label>Rekap data penilaian<br>siswa</ion-label>
                </ion-item>
                <ion-item (click)="jadwal()">
                    <ion-avatar slot="start" >
                        <img src="assets/icon/schedule.png">
                    </ion-avatar>
                    <ion-label>Jadwal penilaian siswa</ion-label>
                </ion-item>
                <ion-item (click)="penanganan()">
                    <ion-avatar slot="start">
                        <img src="assets/icon/solution.png">
                    </ion-avatar>
                    <ion-label>Penanganan siswa</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-app>