<ion-content>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="/assets/LOGO.jpg" width="30%" /><br /><br />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label class="teks1">
                            <h4>Masukkan email anda, kami akan mengirimi link ganti password baru ke email anda</h4>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item class="teks">
                                <ion-icon name="mail-outline"></ion-icon>
                                <ion-input type="text" required placeholder=" Email" [(ngModel)]="email"></ion-input>

                            </ion-item>
                            <br />
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button fill="solid" expand="full" (click)="forget()">SEND</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label class="teks">
                            <h4>want to back page <a routerLink='/login' class="teks">LOGIN?</a></h4>
                        </ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </ion-slide>

</ion-content>