<ion-content>
    <ion-content [fullscreen]="true" color="medium">
        <ion-grid class="satu">

            <div class="tengah">
                <img src="assets/profilortu.png" width="30%">
                <p class="p">Susanto</p>
                <ion-button color="light">
                    <a routerLink='/profil'>Edit profil</a></ion-button>
            </div>

        </ion-grid>
        <ion-item color="medium">
            <ion-avatar slot="start">
                <img src="assets/icon/result.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>Rekap data penilaian siswa</p>
            </ion-text>
        </ion-item>

    </ion-content>